<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/de99d408-f3e5-4d86-b434-717fd9e5fcb7/resourcegroups/OrderRecord/providers/Microsoft.Web/sites/OrderRecordAPI20240612</ResourceId>
    <ResourceGroup>OrderRecord</ResourceGroup>
    <ApiResourceId>/subscriptions/de99d408-f3e5-4d86-b434-717fd9e5fcb7/resourceGroups/OrderRecord/providers/Microsoft.ApiManagement/service/OrderRecordAPIapi/apis/OrderRecordAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://orderrecordapi20240612.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>829a17c0-4ea5-428a-8a3f-01bf34d7f514</ProjectGuid>
    <MSDeployServiceURL>orderrecordapi20240612.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>OrderRecordAPI20240612</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$OrderRecordAPI20240612</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>